table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.globalFilter {
  display: block;
  margin-bottom: 10px;
}

.globalFilter input {
  padding: 8px;
  border: 2px solid #04aa6d;
  border-radius: 10px;
}

.columnFilter {
  margin: 0 6px;
}
.columnFilter input {
  width: 140px;
  padding: 4px;
  border: 2px solid #04aa6d;
  border-radius: 10px;
}

.pagination-btn {
  margin: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

input {
  margin: 0 4px;
  padding: 0 4px;
}

.goToPage-btn {
  width: 30px;
}

.shown-raw-data {
  text-align: left;
}

.change-order-btn {
  margin: 10px;
  padding: 8px;
  font-size: 22px;
  border-radius: 12px;
  border: 2px solid #04aa6d;
}
